/* line 5, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'LB-baskerville-regular';
  src: url("../font/baskerville-regular-webfont.eot");
  src: url("../font/baskerville-regular-webfont.eot") format("embedded-opentype"), url("../font/baskerville-regular-webfont.woff") format("woff"), url("../font/baskerville-regular-webfont.ttf") format("truetype");
  font-weight: normal;
}
/* line 1, ../_source/scss/_base.scss */
body {
  font-family: LB-baskerville-regular, serif;
  font-size: 1rem;
  line-height: 160%;
  background: blue;
  color: black;
}

/* line 9, ../_source/scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: LB-baskerville-regular, serif;
  font-weight: normal;
  color: #414141;
  line-height: 100%;
  /* @include text-shadow($lightgray, 1px, 1px); */
}

/* line 17, ../_source/scss/_base.scss */
h1 {
  font-size: 2em;
  margin-bottom: .4rem;
}

/* line 21, ../_source/scss/_base.scss */
h2 {
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

/* line 25, ../_source/scss/_base.scss */
h3 {
  font-size: 1.8rem;
  line-height: 60%;
  color: #818181;
}

/* line 31, ../_source/scss/_base.scss */
a {
  text-decoration: underline;
  color: #707070;
}
/* line 34, ../_source/scss/_base.scss */
a:hover {
  color: orange;
}

/* line 39, ../_source/scss/_base.scss */
p {
  margin-bottom: 10px;
}

/* line 43, ../_source/scss/_base.scss */
.small {
  font-size: 1rem;
  color: #5ca2df;
}

/* line 2, ../_source/scss/_layout.scss */
.is-portrait {
  overflow-y: hidden;
}

/* line 7, ../_source/scss/_layout.scss */
.is-landscape {
  overflow: hidden;
}

/* line 11, ../_source/scss/_layout.scss */
.main-wrap {
  /* overflow: hidden; */
  position: relative;
}
/* line 20, ../_source/scss/_layout.scss */
.main-wrap .product-box .inner img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  /* visibility: hidden; */
}
/* line 34, ../_source/scss/_layout.scss */
.main-wrap header {
  background: white;
  height: 125px;
  width: 100%;
}
/* line 40, ../_source/scss/_layout.scss */
.main-wrap header h1 {
  position: relative;
  width: auto;
  text-align: center;
  padding-top: 3.125rem;
}
/* line 47, ../_source/scss/_layout.scss */
.main-wrap header h1:after {
  margin: -0.4rem 0 0 0.4rem;
  content: " ";
  display: inline-block;
  position: absolute;
  background-image: url(../images/blue-dot.png);
  width: 0.75rem;
  height: 0.75rem;
}
/* line 63, ../_source/scss/_layout.scss */
.main-wrap footer {
  background: white;
  height: 160px;
}
/* line 67, ../_source/scss/_layout.scss */
.main-wrap footer .product-info-box {
  height: 80px;
  background: red;
}

/* line 80, ../_source/scss/_layout.scss */
.is-portrait .main-wrap .product-box .inner img {
  width: auto;
  height: 100%;
}
/* line 86, ../_source/scss/_layout.scss */
.is-portrait .main-wrap header {
  position: absolute;
  width: 1800px;
  z-index: 10;
  background: transparent;
}
/* line 92, ../_source/scss/_layout.scss */
.is-portrait .main-wrap header h1 {
  color: white;
}
/* line 102, ../_source/scss/_layout.scss */
.is-portrait .main-wrap footer {
  background: transparent;
  height: 160px;
  position: absolute;
  bottom: 0;
}
/* line 109, ../_source/scss/_layout.scss */
.is-portrait .main-wrap footer .product-info-box {
  background: green;
}

/*  @media all and (orientation:portrait) {
	.product-info-box{
		background: green;
	}
} */
/*!
 *  Listed Blue
 *  style.scss
 *	Copyright 2014 - Noback
 *
 *  Author      : Roel Noback | http://www.noback.com
 *  Version     : 1.0
 *
 */
