/*!
 *  Listed Blue
 *  style.scss
 *	Copyright 2014 - Noback
 *
 *  Author      : Roel Noback | http://www.noback.com
 *  Version     : 1.0
 *
 */
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
/* line 5, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* @font-face {
    font-family: 'LB-baskerville-regular';
    src: url('../font/baskerville-regular-webfont.eot');
    src: url('../font/baskerville-regular-webfont.eot') format('embedded-opentype'),
         url('../font/baskerville-regular-webfont.woff') format('woff'),
         url('../font/baskerville-regular-webfont.ttf') format('truetype');
    font-weight: normal;
} */
/* line 1, ../_source/scss/_base.scss */
body {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  line-height: 160%;
  background: white;
  color: #0f0606;
}

/* line 9, ../_source/scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  color: #0f0606;
  line-height: 100%;
  /* @include text-shadow($lightgray, 1px, 1px); */
}

/* line 17, ../_source/scss/_base.scss */
h1 {
  font-size: 1.875rem;
  margin-bottom: .4rem;
}

/* line 21, ../_source/scss/_base.scss */
h2 {
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

/* line 25, ../_source/scss/_base.scss */
h3 {
  font-size: 1.8rem;
  line-height: 60%;
}

/* line 30, ../_source/scss/_base.scss */
a {
  text-decoration: underline;
  color: #707070;
}
/* line 33, ../_source/scss/_base.scss */
a:hover {
  color: orange;
}

/* line 38, ../_source/scss/_base.scss */
p {
  margin-bottom: 0.75rem;
}

/* line 42, ../_source/scss/_base.scss */
.small {
  font-size: 1rem;
  color: #5ca2df;
}

/* line 2, ../_source/scss/_layout.scss */
.is-portrait {
  overflow-y: hidden;
}

/* line 7, ../_source/scss/_layout.scss */
.is-landscape {
  overflow: hidden;
}

/* line 11, ../_source/scss/_layout.scss */
.main-wrap {
  position: relative;
}
/* line 14, ../_source/scss/_layout.scss */
.main-wrap .product-wrap {
  position: relative;
}
/* line 17, ../_source/scss/_layout.scss */
.main-wrap .product-wrap .product {
  /* visibility: hidden; */
  position: relative;
}
/* line 22, ../_source/scss/_layout.scss */
.main-wrap .product-wrap .product .product-visual img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  /* visibility: hidden; */
}
/* line 31, ../_source/scss/_layout.scss */
.main-wrap .product-wrap .product .product-info {
  /* padding: 1.4rem 0; */
  margin-top: 0.9375rem;
  height: 2.2rem;
  text-align: center;
  height: 5rem;
  font-size: 24px;
  font-size: 1.5rem;
}
/* line 42, ../_source/scss/_layout.scss */
.main-wrap .product-wrap .product-navigation a {
  background: url(../images/bg_direction_nav.png) no-repeat 0 0;
  cursor: pointer;
  display: block;
  height: 30px;
  margin: -60px 0 0;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  /* 		    opacity: 1;
  		    -webkit-transition: all .3s ease; */
  width: 30px;
  z-index: 10;
}
/* line 59, ../_source/scss/_layout.scss */
.main-wrap .product-wrap .product-navigation a.next {
  background-position: 100% 0;
  right: 1rem;
}
/* line 63, ../_source/scss/_layout.scss */
.main-wrap .product-wrap .product-navigation a.prev {
  left: 1rem;
}
/* line 72, ../_source/scss/_layout.scss */
.main-wrap header {
  background: white;
  height: 7.813rem;
  width: 100%;
  z-index: 10;
}
/* line 78, ../_source/scss/_layout.scss */
.main-wrap header h1 {
  position: relative;
  width: auto;
  text-align: center;
  padding-top: 3.125rem;
}
/* line 85, ../_source/scss/_layout.scss */
.main-wrap header h1:after {
  margin: -1rem 0 0 0.25rem;
  content: " \2022";
  display: inline-block;
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  font-size: 3.4rem;
  color: #5ca2df;
}
/* line 103, ../_source/scss/_layout.scss */
.main-wrap footer {
  background: white;
  height: 5rem;
  z-index: 10;
  text-align: center;
}
/* line 108, ../_source/scss/_layout.scss */
.main-wrap footer .credits {
  margin-top: 1rem;
  font-size: 12px;
  font-size: 0.75rem;
}

/* line 121, ../_source/scss/_layout.scss */
.is-portrait .main-wrap .product-visual img {
  width: auto;
  height: 100%;
}
/* line 127, ../_source/scss/_layout.scss */
.is-portrait .main-wrap .product-info {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  background: transparent;
  text-align: center;
}
/* line 134, ../_source/scss/_layout.scss */
.is-portrait .main-wrap .product-info h2 {
  position: fixed;
  width: 100%;
  text-align: center;
}
/* line 140, ../_source/scss/_layout.scss */
.is-portrait .main-wrap .product-navigation a {
  position: fixed;
  margin: -20px 0 0;
}
/* line 144, ../_source/scss/_layout.scss */
.is-portrait .main-wrap .product-navigation a.next {
  background-position: 100% 0;
  right: 1rem;
}
/* line 149, ../_source/scss/_layout.scss */
.is-portrait .main-wrap .product-navigation a.prev {
  left: 1rem;
}
/* line 154, ../_source/scss/_layout.scss */
.is-portrait .main-wrap header {
  position: absolute;
  /* width: 1800px; */
  z-index: 10;
  background: transparent;
}
/* line 160, ../_source/scss/_layout.scss */
.is-portrait .main-wrap header h1 {
  position: fixed;
  text-align: center;
  width: 100%;
  color: #0f0606;
  padding-top: 2.125rem;
}
/* line 174, ../_source/scss/_layout.scss */
.is-portrait .main-wrap footer {
  background: transparent;
  position: absolute;
  bottom: 0;
}
/* line 179, ../_source/scss/_layout.scss */
.is-portrait .main-wrap footer .credits {
  position: fixed;
  width: 100%;
  text-align: center;
  margin-top: 3.5rem;
  font-size: 10px;
  font-size: 0.625rem;
}

/*  @media all and (orientation:portrait) {
	.product-info-box{
		background: green;
	}
} */
