body{
	font-family: $font-primary;
	font-size: 1rem;
	line-height: 160%;
	background: blue;
	color: $black;
}

#{headings()} {
	font-family: $font-primary;
	font-weight: normal;
	color: $darkgray;
	line-height: 100%;
	/* @include text-shadow($lightgray, 1px, 1px); */
}

h1{
	font-size: 2rem;
	margin-bottom: .4rem;
}
h2{
	font-size: 1.5rem;
	margin-bottom: .25rem;
}
h3{
	font-size: 1.8rem;
	line-height: 60%;
	color: lighten($darkgray,25);
}

a{
	text-decoration: underline;
	color: $gray;
	&:hover{
		color: orange;
	}
}

p{
	margin-bottom: 0.75rem;
}

.small{
	font-size: 1rem;
	color: $blue;
}