body{
	font-family: $font-primary;
	@include font-size(14);
	line-height: 160%;
	background: $darkgray;
	color: $black;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

#{headings()} {
	font-family: $font-primary;
	font-weight: normal;
	color: $black;
	
	line-height: 100%;
	/* @include text-shadow($lightgray, 1px, 1px); */
}

body.products{
	background: $white;
	color: $extradarkgray;
}


h1{
	//font-size: 1.875rem;
	/* font-size: 2.1vw; */
	@include font-size(22);
	/* font-size: 2.1vh; */
}
h2{
	@include font-size(18);
	margin: .5rem 0;
}
h3{
	@include font-size(16);
	line-height: 60%;
}

a{
	text-decoration: none;
	color: $extradarkgray;
	&:hover{
		color: $blue;
	}
}

input{
	font-family: $font-primary;
	font-size: 0.75rem;
}

p{
	margin-bottom: 0.75rem;
}

.small{
	font-size: 1rem;
	color: $blue;
}

