body{
	font-family: $font-primary;
	font-size: 100%;
	line-height: 160%;
	background: $darkgray;
	color: $black;
	overflow-x: hidden;
}

#{headings()} {
	font-family: $font-primary;
	font-weight: normal;
	font-size: 1.4rem;
	color: $black;
	
	line-height: 100%;
	/* @include text-shadow($lightgray, 1px, 1px); */
}

body.products{
	background: $white;
	color: $extradarkgray;
}


h1{
	//font-size: 1.875rem;
	font-size: 2.1vw;
	/* font-size: 2.1vh; */
}
h2{
	font-size: 1.5rem;
	margin-bottom: .25rem;
}
h3{
	font-size: 1.2rem;
	line-height: 60%;
}

a{
	text-decoration: underline;
	color: $gray;
	&:hover{
		color: $blue;
	}
}

input{
	font-family: $font-primary;
	font-size: 0.75rem;
}

p{
	margin-bottom: 0.75rem;
}

.small{
	font-size: 1rem;
	color: $blue;
}
