/*
* These are the rules for collection.html in landscape mode
*/

.is-landscape{
	overflow: hidden;
}

.main-wrap{
	position:relative;

// Header ----------------------------------
/**
* same css chunck as layout.css albeit some changes
*/

	header{
		position: absolute;
		background: transparent;
		height: 3.4rem;
		width: 100%;
		z-index: 10;
		padding-top: 16px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;

	    h1.site-header {
	    }

		h1{
			position: absolute;
			left:0;
	    	right:0;
		    margin-left:auto;
		    margin-right:auto;
			text-align: center;
			letter-spacing: 1px;
			height: 50px;
			color: $extradarkgray;
			padding-top: 0.2rem;

			a{
				text-decoration: none;
				color:$extradarkgray;
			}

		}

/* 		h1:after{
			margin: -1rem 0 0 0.25rem;
			content:" \2022";
			display: inline-block;
			position: absolute;
			width: 0.75rem;
			height: 0.75rem;
			font-size: 2.6rem;
			color: $blue;
		} */
		.navigation-wrap{
			position: relative;
			margin: 0 auto;

			.main-navigation{
				display:none;
				background: $white;
				color: $extradarkgray;
				position:absolute;
				right: 0;
				top: -1.5rem;
				width: 33.333334%;
				opacity: 0.8;
				
				li.nav{
					padding: 10px 40px;
				}
				>li.nav:first-child{
					padding: 104px 40px 10px 40px;
				}
				>li.nav:last-child{
					padding: 10px 40px 80px 40px;
				}
				.active a {color:$gray;}
			}
			a.btn-close{
				position: absolute;
				right: 6px;
				display: none;
				font-size: 1.4rem;
				text-decoration: none;
				color: $extradarkgray;
			}
			a.btn-close:after{
				font-family: "Ctrl-Alt-Social-Icons";
				content: "\e01b";
				font-size: 3rem;
			}
			a.btn-nav-toggle{
				position: absolute;
				right: 6px;
				font-size: 1.4rem;
				text-decoration: none;
				color: $extradarkgray;
			}
			a.btn-nav-toggle:after{
				font-family: "Ctrl-Alt-Social-Icons";
				content: "\e01a";
				font-size: 3rem;
			}
		} /* end .navigation-wrap */
	} /* end header */

// Product ----------------------------------	

	.product-wrap{
		position:relative;

		.product{
			/* visibility: hidden; */
			position: absolute;
			left:0;
		    right:0;
		    margin-left:auto;
		    margin-right:auto;
			
			.product-overlay{
				position: absolute;
				z-index: 11;
				
				left:0;
		    	right:0;
			    margin-left:auto;
			    margin-right:auto;
			    display: none;
			    cursor:pointer;

			    .bg{
			    	position: absolute;
			    	background: $white;
			    	opacity: 0.7;
			    	width: inherit;
			    	height: inherit; 
			    }

			    .column{
			    	width: 33.33334%;
			    	float: left;

			    	.column-content{
			    		position: relative;
			    		color: $extradarkgray;
			    		padding: 6.2rem 40px 20px 40px;
			    		height: 70%;
			    		font-size: 0.75rem;
			    		/* line-height: calc(10vw / 5); // SFG: obsolete, lineheight dynamic */

			    		h2{
			    			color:$extradarkgray;
			    			text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
				    	}
				    	.label{
				    		text-transform: uppercase;
				    		font-size: 86%;
				    	}
				    	span.header-name {
				    		font-size:1rem;
				    	}	
						span.header-type {
				    		font-size: 0.75rem;
				    	}
				    	.p_type, .p_download_url{
				    		
				    		display:none;
				    	}
				    	.btn_p{
				    		position: absolute;
							bottom: -28px;
							color: $extradarkgray;
							text-transform: uppercase;
							border: 1px solid rgba(92, 162, 223, 1);
							padding: 2px 12px 2px 12px;
							text-decoration: none;
							border-radius: 0px;

							&:hover{
								color: $gray;
								border: 1px solid rgba(92, 162, 223, 0.6);
							}
				    	}
				    	.btn_gray_email{
				    		
				    	}
				    	li.p_presentation {
							/* position: absolute;
							bottom: 4.6rem; */
							margin-top: 1rem;
						}
						li.p_shipping {
							margin-top: 1rem;
						}
						li.p_price {
						}
				    	.object.btn_gray_download{

				    	}
			    	}
			    }
			}

			// SFG: adding interaction layer (portrait mode only)
			.swipe-indicator{
				display: none;
			}	
			// end interaction layer

			.product-overlay.active{
		    	display: block;
		    }

		   
			.product-visual {
				
				img{
					width:100%;
					cursor: pointer;
					height: auto;
					display: block;
					margin: 0 auto;
					position: relative;
					/* visibility: hidden; */
				}
			}
			.product-info{

				position: relative;
				text-align: center;
				height: 75px;
				margin: 0 auto;
				z-index: 12;
				//@include font-size(24);
				

				.product-navigation{
				 	width: 100%;
				 	position: relative;
				 	
				 	.product-inner{
				 		//padding: 20px 0;
				 		margin: 0 auto;
				 		width: 33.3334%;
				 		padding-top: 23px;

				 		
				 		h2{
							display: inline-block;
							font-size: 1.125rem;
							padding-top: 0.3rem;
						}
					 	a{
					 		text-decoration: none;
					 		display: block;
					 		font-size: 0.80rem;
					 		color: $extradarkgray;
					 		margin-top: 4px;
						}
						a.next{
							float:right;
							padding: 6px 2px;
							-moz-transform: scale(-1, 1);
							-webkit-transform: scale(-1, 1);
							-o-transform: scale(-1, 1);
							-ms-transform: scale(-1, 1);
							transform: scale(-1, 1);
							
			    		}
			    		a.next:after{
			    			
							font-family: "Ctrl-Alt-Social-Icons";
							content: "\e017";
							font-size: 2rem;
			    		}
			    		a.prev{
					    	float:left;
					    	padding: 6px 2px;
					    }
					    a.prev:after{
			    			
							font-family: "Ctrl-Alt-Social-Icons";
							content: "\e017";
							font-size: 2rem;
			    		}
					} /* end .product-inner */
				} /* end .product-navigation */
			} /* end .product-info */	
		} /* end .product */
	} /* end .product-wrap */
} /* end .main-wrap */

// Footer -------------------------------
	footer{
		.credits{
			position: fixed;
			bottom: 0;
			text-align: center;
			width: 100%;
			font-size: 0.5rem;
			color: $gray;
			z-index: 1;
			a {
				color: $gray;
				text-decoration: none;
			}
		}
	} /* end footer */