/**
* This is the mobile device specific css
*/

/**
 * VH and VW units can cause issues on iOS devices: http://caniuse.com/#feat=viewport-units
 * 
 * To overcome this, create media queries that target the width, height, and orientation of iOS devices. 
 * It isn't optimal, but there is really no other way to solve the problem. In this example, I am fixing 
 * the height of element `.foo` â€”which is a full width and height cover image.
 *
 * iOS Resolution Quick Reference: http://www.iosres.com/
 */


/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
	.landingContainer {
		height: 1024px; // important as the landingpage has a VH specification
	}
	.main-inner{
		padding: 0 29%;
	}

.content-page .main-wrap header .navigation-wrap .main-navigation {
		display:none;
		background: $white;
		color: $extradarkgray;
		position:absolute;
		right: 0;
		top: 54px;
		width: 100%;
		text-align: center;
		opacity: 1;
		
		>li.nav:first-child{
			padding: 24px 40px 10px 40px;
		}
	}	
// the main info text body
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content {
		font-size: 14px;
		line-height: 28px;
	}
// product title h2, name only, not the embodiment type
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content h2 {
		margin-bottom: 0px;
		font-size: 24px;
	}
// product embodiment text
	.main-wrap .product-wrap .product .product-overlay .column .column-content span.header-type {
		font-size: 10px;
		padding-left: 4px;	
	}
// product info label
	.main-wrap .product-wrap .product .product-overlay .column .column-content .label {
		font-size: 8px;
	}
// product info text ul
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content ul {
	}
// EMAIL ENQUIRY button, absolute positioning from bottom
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content .btn_p {
		bottom: 80px;
	}
// product bottom nav bar, absolute position from bottom
	.is-portrait .main-wrap .product-wrap .product .product-info {
		bottom: 0px;
		height: 62px;
	}
// product bottom nav prev / next buttons
	.is-portrait .main-wrap .product-wrap .product .product-info .product-navigation .product-inner a.prev, 
	.is-portrait .main-wrap .product-wrap .product .product-info .product-navigation .product-inner a.next {
		padding: 6px 84px;
	}
// product title h2 in bottom nav
	.is-portrait .main-wrap .product-wrap .product .product-info .product-navigation .product-inner h2 {
	}
}

/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
	.landingContainer {
		height: 768px; // important as the landingpage has a VH specification
	}
  	.content-page.main-wrap.main-inner{
		padding: 0 26%;
	}
}

/**
 * iPhone 2-3 we're not touching, neither landscape nor portrait
 */

/**
 * iPhone 4 landscape
 */
/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape)*/  
@media only screen and (device-height : 480px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : landscape) {
	.landingContainer {
	height: 320px; // important as the landingpage has a VH specification
	}
}

/**
 * iPhone 4 portrait
 */
@media only screen and (device-height : 480px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
	.content-page .main-wrap .hero-wrapper.is-portrait .logo img {
		margin-bottom: 1.5rem;
		width: 50%;
	}
	p.launch{
		font-size: 0.7rem;
		margin-bottom: 0.5rem;
	}
	.content-page .main-wrap .logo{
		top: 100px;
	}
	.landingContainer {
	height: 480px; // important as the landingpage has a VH specification
	}

// header with logo
	.is-portrait .main-wrap header {
		padding-top: 0.7rem;
	}
// header with logo size
	.is-portrait .main-wrap header h1 {
		font-size: 16px;
	}
// the pale blue dot
	.is-portrait .main-wrap header h1:after {
		margin: -10px 0 0 2px;
		font-size: 2.0rem;
	}
// menu / close store button
	.is-portrait	 .main-wrap header .navigation-wrap a.btn-close, 
	.is-portrait .main-wrap header .navigation-wrap a.btn-nav-toggle {
		right: 0px;
	}
// menu icon size
	.is-portrait .main-wrap header .navigation-wrap a.btn-nav-toggle:after,
	.is-portrait .main-wrap header .navigation-wrap a.btn-close:after {
	font-size: 32px;
	}	
// the main info text body
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content {
		padding: 38px 6px 16px 6px;
		font-size: 10px;
		line-height: 12px;
	}
// product title h2, name only, not the embodiment type
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content h2 {
		margin-bottom: 0px;
		font-size: 16px;
	}
// product embodiment text
	.main-wrap .product-wrap .product .product-overlay .column .column-content span.header-type {
		font-size: 10px;
		padding-left: 4px;	
	}
// product info label
	.main-wrap .product-wrap .product .product-overlay .column .column-content .label {
		font-size: 8px;
	}
// product info text ul
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content ul {
	}
// EMAIL ENQUIRY button, absolute positioning from bottom
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content .btn_p {
		bottom: 0px;
	}
// product bottom nav bar, absolute position from bottom
	.is-portrait .main-wrap .product-wrap .product .product-info {
		bottom: 0px;
		height: 52px;
	}
// product bottom nav prev / next buttons
	.is-portrait .main-wrap .product-wrap .product .product-info .product-navigation .product-inner a.prev, 
	.is-portrait .main-wrap .product-wrap .product .product-info .product-navigation .product-inner a.next {
		padding: 6px 12px;
	}
// product title h2 in bottom nav
	.is-portrait .main-wrap .product-wrap .product .product-info .product-navigation .product-inner h2 {
	}
}

/**
 * iPhone 5 landscape
 */
@media only screen and (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : landscape) {
	.landingContainer {
	height: 320px; // important as the landingpage has a VH specification
  	}
}
/**
 * iPhone 5 portrait
 */
@media only screen and (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
	p.launch{
		font-size: 0.7rem;
		margin-bottom: 0.5rem;
	}
	.content-page .main-wrap .logo{
		top: 130px;
	}
	.landingContainer {
	height: 568px; // important as the landingpage has a VH specification
  	}

// header with logo
	.is-portrait .main-wrap header {
		padding-top: 0.7rem;
	}
// the logo type 
	.is-portrait .main-wrap header h1 {
		font-size: 18px;
	}
// the pale blue dot
	.is-portrait .main-wrap header h1:after {
		margin: -10px 0 0 2px;
	}
// menu / close store button
	.is-portrait .main-wrap header .navigation-wrap a.btn-close, 
	.is-portrait .main-wrap header .navigation-wrap a.btn-nav-toggle {
		right: 0px;
	}
// menu icon size
	.is-portrait .main-wrap header .navigation-wrap a.btn-nav-toggle:after,
	.is-portrait .main-wrap header .navigation-wrap a.btn-close:after {
	font-size: 32px;
	}	
// the main info text body
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content {
		padding: 43px 12px 16px 12px;
		font-size: 10px;
		line-height: 20px;
		height: 74%;
	}
// product title h2, name only, not the embodiment type
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content h2 {
		margin-bottom: 0px;
	}
// product embodiment text
	.main-wrap .product-wrap .product .product-overlay .column .column-content span.header-type {
		font-size: 10px;
		padding-left: 4px;	
	}
// product info label
	.main-wrap .product-wrap .product .product-overlay .column .column-content .label {
		font-size: 8px;
	}
// product info text ul
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content ul {
	}
// EMAIL ENQUIRY button, absolute positioning from bottom
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content .btn_p {
		bottom: 0px;
	}
// product bottom nav bar, absolute position from bottom
	.is-portrait .main-wrap .product-wrap .product .product-info {
		bottom: 0px;
		height: 52px;
	}
// product bottom nav prev / next buttons
	.is-portrait .main-wrap .product-wrap .product .product-info .product-navigation .product-inner a.prev, 
	.is-portrait .main-wrap .product-wrap .product .product-info .product-navigation .product-inner a.next {
		padding: 6px 0px;
	}
// product title h2 in bottom nav
	.is-portrait .main-wrap .product-wrap .product .product-info .product-navigation .product-inner h2 {
	}
}

/**
 * iPhone 6 landscape
 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { 
	.landingContainer {
	height: 375px; // important as the landingpage has a VH specification
  	}
}

/**
 * iPhone 6 portrait
 */
@media only screen and (device-height : 667px) and (device-width : 375px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
	.landingContainer {
	height: 667px; // important as the landingpage has a VH specification
  	}
// header with logo
	.is-portrait .main-wrap header {
		padding-top: 0.7rem;
	}
// the logo type 
	.is-portrait .main-wrap header h1 {
		font-size: 18px;
		position: fixed;
	}
// the pale blue dot
	.is-portrait .main-wrap header h1:after {
		margin: -10px 0 0 2px;
	}
// menu / close store button
	.is-portrait .main-wrap header .navigation-wrap a.btn-close, 
	.is-portrait .main-wrap header .navigation-wrap a.btn-nav-toggle {
		right: 0px;
	}
// menu icon size
	.is-portrait .main-wrap header .navigation-wrap a.btn-nav-toggle:after,
	.is-portrait .main-wrap header .navigation-wrap a.btn-close:after {
	font-size: 32px;
	}	
// the main info text body
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content {
		padding: 43px 12px 16px 12px;
		font-size: 10px;
		line-height: 20px;
		height: 74%;
	}
// product title h2, name only, not the embodiment type
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content h2 {
		margin-bottom: 0px;
	}
// product embodiment text
	.main-wrap .product-wrap .product .product-overlay .column .column-content span.header-type {
		font-size: 10px;
		padding-left: 4px;	
	}
// product info label
	.main-wrap .product-wrap .product .product-overlay .column .column-content .label {
		font-size: 8px;
	}
// product info text ul
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content ul {
	}
// EMAIL ENQUIRY button, absolute positioning from bottom
	.is-portrait .main-wrap .product-wrap .product .product-overlay .column .column-content .btn_p {
		bottom: 0px;
	}
// product bottom nav bar, absolute position from bottom
	.is-portrait .main-wrap .product-wrap .product .product-info {
		bottom: 0px;
		height: 52px;
	}
// product bottom nav prev / next buttons
	.is-portrait .main-wrap .product-wrap .product .product-info .product-navigation .product-inner a.prev, 
	.is-portrait .main-wrap .product-wrap .product .product-info .product-navigation .product-inner a.next {
		padding: 6px 0px;
	}
// product title h2 in bottom nav
	.is-portrait .main-wrap .product-wrap .product .product-info .product-navigation .product-inner h2 {
	}
}  	


/**
 * iPhone 6+ landscape
 */
@media only screen and (min-device-width : 540px) and (max-device-width : 960px) and (orientation : landscape) {
	.landingContainer {
	height: 540px; // important as the landingpage has a VH specification
  	}
}

/**
 * iPhone 6+ portrait
 */
@media only screen and (min-device-width : 540px) and (max-device-width : 960px) and (orientation : portrait) { 
	.landingContainer {
	height: 960px; // important as the landingpage has a VH specification
  	}
}

/**
* SFG: if touch device and orientation landscape; remove all elements except the product image & scale 100%
*/

@media only screen and (orientation : landscape) {


	@media (max-width: 768px) {
		.touch header, .touch .product-info, .touch .swipe-indicator, .touch footer, .touch .column {
			display: none;
		}
		.touch .product-visual img {
			width: 100% !important;
			height: 100% !important;
		}
	}
}