//@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
// @import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Lustria:400);

/* @font-face {
    font-family: 'LB-baskerville-regular';
    src: url('../font/baskerville-regular-webfont.eot');
    src: url('../font/baskerville-regular-webfont.eot') format('embedded-opentype'),
         url('../font/baskerville-regular-webfont.woff') format('woff'),
         url('../font/baskerville-regular-webfont.ttf') format('truetype');
    font-weight: normal;
} */
@font-face {
    font-family: 'Ctrl-Alt-Social-Icons';
    src: url('../fonts/Ctrl-Alt-Social-Icons.eot');
    src: url('../fonts/Ctrl-Alt-Social-Icons.eot') format('embedded-opentype'),
         url('../fonts/Ctrl-Alt-Social-Icons.woff') format('woff'),
         url('../fonts/Ctrl-Alt-Social-Icons.ttf') format('truetype');
    font-weight: normal;
}
