
.is-portrait{
	overflow: auto;
	overflow-y: hidden;
	 
	.main-wrap{
		.product-wrap{
			.product{
				left:auto;
			    right:auto;
			    margin-left:auto;
			    margin-right:auto;

				.product-overlay{
				    .column{

				    	.column-content{
				    		color: $black;
				    		padding: 30% 15% 15% 15%;
				    		font-size: 1.5vh;
				    		line-height: 2.5em;

				    		h2{
				    			font-size: 2.4vh;
				    			line-height: 3em;
					    	}

					    	.btn_p{
					    		bottom: 100px;
				    		}
				    	}
				    }
				}

				.product-visual {
					
					img{
						width: auto;
						height: 100%;
					}
					
				}
				.product-info{
					position: absolute;
					bottom: 20px;
					z-index: 11;
					background: transparent;
					text-align: center;

					h2{
						@include font-size(16);
						width: 200px;
						
					}

					.product-navigation{
						position: fixed;
						text-align: center;
						width: 100%;

						.product-inner{

					 		width: auto;
					 		
					 		h2{
								font-size: 2vh;
							}
						 	a{

							}
							a.next{
								margin-right: 1rem;
				    		}
				    		a.prev{
				    			margin-left: 1rem;
						    }
						}
					}
				}
			}
		}

		

		header{

			position: absolute;
			/* width: 1800px; */
			z-index: 10;
			background: transparent;

			.navigation-wrap{
			

				.main-navigation{
					display:none;
					position: fixed;
					left:0;
				    right:0;
				    margin-left:auto;
				    margin-right:auto;
					width: 100%;
				}
				a.btn-close{
					position: fixed;
					top: 30px;
					right: 4%;
					font-size: 1.4rem;
				}
				a.btn-nav-toggle{
					position: fixed;
					top: 30px;
					right: 4%;
					font-size: 1.4rem;
				}
			}



			h1{
				position: fixed;
				text-align: center;
				width: 100%;
				padding-top: 2.125rem;
				@include font-size(18);

			}
			h1:after{
				margin: -1rem 0 0 0.25rem;
				width: 0.75rem;
				height: 0.75rem;
				font-size: 2.8rem;
				color:$blue;
			}
		}



		// Footer -------------------------------
		footer{
			margin-top: -10px;

			.credits{
				position: fixed;
				width: 100%;
				text-align: center; 
				
				@include font-size(10);
			}

		}
	}
}