// Layout ----------------------------------
.is-portrait{
	//overflow:auto;
	 overflow-y:hidden;
}

.is-landscape{
	 overflow:hidden;
}

.main-wrap{
	/* overflow: hidden; */
	position:relative;
	

	.product-box {

	
		.inner {
			img{
				width:100%;
				height: auto;
				display: block;
				margin: 0 auto;
				position: relative;
				/* visibility: hidden; */
			}
		}
	}


	// Header ----------------------------------

	header{
		background: white;
		height: 125px;
		width: 100%;


		h1{
			position: relative;
			width: auto;
			text-align: center;
			padding-top: 3.125rem;
		}

		h1:after{
			margin: -0.4rem 0 0 0.4rem;
			content:" ";
			display: inline-block;
			position: absolute;
			background-image: url(../images/blue-dot.png);
			width: 0.75rem;
			height: 0.75rem;
		}
	}

	// Navigation -------------------------------



	// Footer -------------------------------
	footer{
		background: white;
		height: 160px;

		.product-info-box{
			height: 80px;
			background: red;
		}	
	}
}

.is-portrait{
	.main-wrap{
		
		.product-box {
			//left: -300px;
			.inner {
				img{
					width: auto;
					height: 100%;
				}
			}
		}
		header{

			position: absolute;
			width: 1800px;
			z-index: 10;
			background: transparent;
			h1{
				color: $white;
			}
		}

		// Navigation -------------------------------



		// Footer -------------------------------
		footer{
			background: transparent;
			height: 160px;

			position: absolute;
			bottom:0;

			.product-info-box{
				background: green;
			}
			
		}
	}
}

/*  @media all and (orientation:portrait) {
	.product-info-box{
		background: green;
	}
} */