/* SFG: changing landing body background to white */
body.content-page.landing{
}

/* SFG: adding show / hide navheader ... we should incorporate this with <h1> header? */
#navheader {
	img {
	}
}

/* SFG: adding header hero content: image & copy in landing page */
.landingContainer { 
	.logo {
		width: 40%;
		img {
		}
	}
}
/* end SFG hero landing */

.content-page{
	.main-wrap{
		header{
			h1.site-header{
			}

			.navigation-wrap {
				.main-navigation{
					width: 33.333334%;
					text-align: left;
					top: -1.5rem;
					>li.nav:first-child{
						padding: 104px 40px 10px 40px;
					}
				}
			}
		}
		.main-inner{
			padding: 96px 24% 4% 24%;
			.content-wrap{
				.fullwidth{
				}
				.collumn.wrapper{
				}
				li.list, ol.list {
					img {
					}
				}

				li.products.list {
				}
				.two.collumn {
				}
				.two.collumn.right {
				}
				.fullwidth > p {
				}
				p.testimonial {
				}
				p.testimonial.author {
				}

				h2.page-title{
				}
				.column{
					h3.content-title{
					}
					p{
					}
				}
				.column.first{
				}
				.fullwidth{
				}
			}
		}

		

		footer{
			background: $blue;
			a{
				&:hover{
				}
			}
			.column{
				float: none;
				.nl-email{
				}
				.nl-submit{
				}
				h3{
				}
			}
		}


	}

	.landing {
			.navigation-wrap{
				background: #fff;
				position: fixed;
				width: 33%;
				right:0;
				display:none;
				.main-navigation-landing{
					text-align: left;
				}
			}
		}
}