/* SFG: changing landing body background to white */
body.content-page.landing{
}

/* SFG: adding show / hide navheader ... we should incorporate this with <h1> header? */
#navheader {
	img {
	}
}

/* SFG: adding header hero content: image & copy in landing page */
.landingContainer { 
	.logo {
		width: 40%;
		img {
		}
	}
}
/* end SFG hero landing */

.content-page{
	.main-wrap{
		header{
			h1.site-header{
			}

			.navigation-wrap {
				.main-navigation{
				}
			}
		}
		.main-inner{
			padding: 0 24%;
			.content-wrap{
				.fullwidth{
				}
				.collumn.wrapper{
				}
				li.list, ol.list {
					img {
					}
				}

				li.products.list {
				}
				.two.collumn {
				}
				.two.collumn.right {
				}
				.fullwidth > p {
				}
				p.testimonial {
				}
				p.testimonial.author {
				}

				h2.page-title{
				}
				.column{
					h3.content-title{
					}
					p{
					}
				}
				.column.first{
				}
				.fullwidth{
				}
			}
		}
		footer{
			background: $blue;
			a{
				&:hover{
				}
			}
			.column{
				float: none;
				.nl-email{
				}
				.nl-submit{
				}
				h3{
				}
			}
		}
	}
}