// Layout ----------------------------------

.main-wrap{
	/* overflow: hidden; */
}
.product-box {
	position:relative;
}


.inner {
	img{
		width:100%;
		height: auto;
		display: block;
	}
	img.locked{
		margin: 0 auto;
		
	}

}

.product-info-box{
	height: 80px;
	background: red;
}


// Header ----------------------------------

header{
	background: white;
	height: 125px;
}

// Navigation -------------------------------



// Footer -------------------------------
footer{
	background: white;
	height: 80px;
	
}