.main-wrap{
	position:relative;
	.product-wrap{
		position:relative;

		.product{
			/* visibility: hidden; */
			position: absolute;
			left:0;
		    right:0;
		    margin-left:auto;
		    margin-right:auto;
			
			.product-overlay{
				position: absolute;
				z-index: 11;
				opacity: 0.7;
				left:0;
		    	right:0;
			    margin-left:auto;
			    margin-right:auto;
			    display: none;
			    cursor:pointer;

			    .column{
			    	width: 33.33334%;
			    	background: $white;
			    	float: left;

			    	.column-content{
			    		color: $extradarkgray;
			    		padding: 120px 20px 20px 20px;
			    		font-size: 100%;

			    		h2{
			    			color:$black;
			    			font-size: 1.4vw;
			    			line-height: 3em;
				    	}
				    	.label{
				    		text-transform: uppercase;
				    	}
				    	.p_type{
				    		display:none;
				    	}
			    	}
			    }
			}

			.product-overlay.active{
		    	display: block;
		    }
		   
			.product-visual {
				
				img{
					width:100%;
					cursor: pointer;
					height: auto;
					display: block;
					margin: 0 auto;
					position: relative;
					/* visibility: hidden; */
				}
			}
			.product-info{

				position: relative;
				text-align: center;
				height: 75px;
				margin: 0 auto;
				z-index: 12;
				//@include font-size(24);
				

				 .product-navigation{
				 	width: 100%;
				 	position: relative;
				 	
				 	.product-inner{
				 		//padding: 20px 0;
				 		margin: 0 auto;
				 		width: 33.3334%;
				 		padding-top: 23px;
				 		
				 		h2{
							display: inline-block;
							font-size: 1.65vw;
						}
					 	a{
					 		text-decoration: none;
					 		display: block;
					 		font-size: 0.80rem;
					 		color: $extradarkgray;
					 		margin-top: 4px;
						}
						a.next{
							float:right;
							padding: 6px 9px;
			    		}
			    		a.prev{
					    	float:left;
					    	padding: 6px 9px;
					    }
					}
				}
			}	
		}

		
	}


	// Header ----------------------------------

	header{
		position: absolute;
		background: transparent;
		height: 7.813rem;
		width: 100%;
		z-index: 10;
		padding-top: 1.5rem;

		.navigation-wrap{
			position: relative;
			margin: 0 auto;

			.main-navigation{
				display:none;
				background: $white;
				color: $extradarkgray;
				position:absolute;
				right: 0;
				top: -1.5rem;
				width: 33.333334%;
				// opacity: 0.7;
				
				li.nav{
					padding: 10px 40px;
				}
				>li.nav:first-child{
					padding: 80px 40px 10px 40px;
					color:#f90;
				}

			}
			a.btn-close{
				position: absolute;
				right: 1.5%;
				display: none;
				font-size: 1.6rem;
				text-decoration: none;
			}
			a.btn-nav-toggle{
				position: absolute;
				right: 1.5%;
				font-size: 1.6rem;
				text-decoration: none;
				color: $extradarkgray;
			}
		}

		h1{
			position: absolute;
			left:0;
	    	right:0;
		    margin-left:auto;
		    margin-right:auto;
			text-align: center;
			letter-spacing: 1px;
			height: 50px;
			//color: $extradarkgray;
		}

		h1:after{
			margin: -1rem 0 0 0.25rem;
			content:" \2022";
			display: inline-block;
			position: absolute;
			width: 0.75rem;
			height: 0.75rem;
			font-size: 3.4rem;
			color: $blue;
		}
	}

	// Navigation -------------------------------



	// Footer -------------------------------
	footer{
		height: 35px;
		z-index: 10;
		text-align: center;		
		position: absolute;
		visibility: hidden;

		.credits{
			/* margin-top: 1rem; */
			 @include font-size(12);
		}
	}
}