.content-page{
	.main-wrap{

			footer{
				@include clearfix();
				background: $blue;
				text-allign: center;
				.column{
					width: 33%;
					text-align: center;
					float: left;
    				padding:2.4em 1.4em;
    				box-sizing: border-box;
				}
			}

		header{

			.navigation-wrap {
				.main-navigation{

					width: 33.333334%;

				}
			}
		}
		.main-inner{
			margin: 0 auto;
			max-width: 1680px;
			padding: 0 20%;

			
			.content-wrap{
				@include clearfix();
				h2.page-title{
					text-align: center;
				}
				.column{
					max-width: 620px;
					width: 48%;
					float:left;
					p{
						text-align: justify;
					}
				}
				.column.first{
					padding-right: 4%;
				}
				.fullwidth{
					clear: both;
					text-align: center;
					padding: 3.6rem 0;
					width: 70%;
					margin: 0 auto;

				}
				.fullwidth > p {
					line-height: 2em;
					padding: 0.4em 0;
				}
				p.testimonial {
					font-style: italic;
					line-height: 1.4em;
					margin-bottom: 0;
					padding-bottom: 0;
				}
				p.testimonial.author	{
					font-size: 0.8em;
					padding-bottom: 10em;
					font-style: normal;
					text-align: right;
				}
			}
		}
	}
}
