// colors
$lightgray      : #819090;
$mediumgray     : #536870;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$cyan           : #259286;
$green          : #738A05;


$white  		: #ffffff;
$black  		: #000000;
$blue           : #5ca2df;
$gray           : #707070;
$darkgray       : #414141;

//font
$font-primary: LB-baskerville-regular, serif;
$font-secondary: Arial, serif;

//border
$default-border-radius: 10px;