// colors

$white  		: #ffffff;
$black  		: #000000;
$blue           : #5ca2df;
$lightgray      : #eeeeee;
$gray           : #707070;
$darkgray       : #414141;

//font
$font-primary: LB-baskerville-regular, serif;
$font-secondary: Arial, serif;

//border
$default-border-radius: 10px;