// colors
$white  		: #ffffff;
$black  		: #000000;
$blue           : #5ca2df; /* 92.162.223 */
$lightgray      : #eeeeee;
$gray           : #707070;
$darkgray       : #565656;
$extradarkgray  : #0f0606;

//font
$font-primary: 'Lustria', serif;
$font-secondary: Times, serif;
$font-icon: 'Ctrl-Alt-Social-Icons';

//border
$default-border-radius: 10px;
